package com.aspects;
import com.thesis.aop.util.ThesisUtil;

public aspect SQLInjectionAspect{
	public HashMap<String, String> fixes = new HashMap<String, String>();
	public SQLInjectionAspect{
		<insert_fix_map>
	}
	
	<insert_code_here>
}